* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: aliceblue;
    position: fixed;
    height: 2rem;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

section {
    min-height: 100vh;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
}

#ini {
    background-image: url("img1.jpg");
}

#ser {
    background-image: url("img2.jpg");
}

#con {
    background-image: url("img3.jpg");
}

#cur {
    background-image: url("img4.jpg");
}

#sob {
    background-image: url("img5.jpg");
}

